<web-app xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5" metadata-complete="true">
	<display-name>Miskin Hill</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<servlet>
		<servlet-name>jersey-spring</servlet-name>
		<servlet-class>au.com.miskinhill.web.util.ServletPathIgnoringJerseySpringServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>pdf-fulltext</servlet-name>
		<servlet-class>au.com.miskinhill.web.PdfFulltextServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>rdfRequestHandler</servlet-name>
		<servlet-class>org.springframework.web.context.support.HttpRequestHandlerServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>jersey-spring</servlet-name>
		<url-pattern>/feeds/*</url-pattern>
		<url-pattern>/unapi</url-pattern>
		<url-pattern>/journals</url-pattern>
		<url-pattern>/journals/</url-pattern>
		<url-pattern>/rdfschema/1.0</url-pattern>
		<url-pattern>/rdfschema/1.0/</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>pdf-fulltext</servlet-name>
		<url-pattern>*.pdf</url-pattern>
		<url-pattern>*.jpg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>rdfRequestHandler</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
    <filter>
        <filter-name>defaultServletFilter</filter-name>
        <filter-class>au.com.miskinhill.web.util.DefaultServletFilter</filter-class>
    </filter>
    <filter>
        <filter-name>linkRelativizingFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter>
        <filter-name>decoratingFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter>
        <filter-name>htmlCompatibilityFilter</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>htmlCompatibilityFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>decoratingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>linkRelativizingFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>defaultServletFilter</filter-name>
        <url-pattern>/script/*</url-pattern>
        <url-pattern>/style/*</url-pattern>
        <url-pattern>/images/*</url-pattern>
        <url-pattern>/about/*</url-pattern>
        <url-pattern>/contact/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
</web-app>
