
.article-meta .subjects p {
    margin-bottom: 0;
}
.article-meta .subjects ul {
    margin-top: 0;
    margin-bottom: 0;
}

.epigraph {
    margin: 0.75em 2em;
    font-size: 0.9em;
}

.postscript {
    margin: 0.75em 0;
    font-size: 0.9em;
    font-style: italic;
}

.incompleteness-warning {
    clear: both;
    border: 1px solid #BF8160;
    margin: 1em;
    padding: 1em;
    background-color: #FFD6BF;
}
.incompleteness-warning p {
    background: url(../images/silk/exclamation.png) no-repeat center left;
    padding-left: 26px;
}

/* Citations */
.citation-hover {
    background-color: #BFD5FF;
}

/* JSified footnotes */
.floating-footnote {
    width: 740px; /* to match #bodywrapper */
    position: absolute;
    z-index: 1;
    background: #E0E0E0; /* for older browsers */
    background: rgba(224, 224, 224, 0.95) !important;
    border: 1px solid #777777;
    padding: 0.75em;
}
.floating-footnote .close-button {
    margin-left: 0.5em;
}

/* Tabular data */
table caption {
    text-align: left;
    margin-bottom: 1em;
}
table th, table td {
    padding: 0.25em;
}
table th {
    text-align: left;
}
table {
    margin: 1.5em 3em;
    border-collapse: collapse;
}

/* beware of table-caption-outside.js hackery which applies here */
table caption {
    caption-side: top-outside;
}
div.hacked-table-caption {
    margin: 1.5em 3em;
}

table thead {
    border-top: 2px solid #aaa;
}
table tbody {
    border-top: 1px solid #777;
    border-bottom: 2px solid #aaa;
}
table.data th + th {
    text-align: right;
}
table.data th.group {
    text-align: center;
    border-bottom: 1px solid #777;
}
table.data td + td {
    text-align: right;
}
table.data .total {
    border-top: 1px solid #777;
}

/* "tabular" as in, not really a table, just using it to achieve a tabular layout */
table.tabular {
    margin: 1.5em 0;
}
table.tabular tbody {
    border: none;
}
