
.article-meta .subjects p {
    margin-bottom: 0;
}
.article-meta .subjects ul {
    margin-top: 0;
    margin-bottom: 0;
}

.epigraph {
    margin: 0.75em 0;
    text-align: center;
    font-size: 0.9em;
}

.incompleteness-warning {
    clear: both;
    border: 1px solid #BF8160;
    margin: 1em;
    padding: 1em;
    background-color: #FFD6BF;
}
.incompleteness-warning p {
    background: url(../images/silk/exclamation.png) no-repeat center left;
    padding-left: 26px;
}

/* Citations */
.citation-hover {
    background-color: #BFD5FF;
}

/* JSified footnotes */
.floating-footnote {
    width: 740px; /* to match #bodywrapper */
    position: absolute;
    z-index: 1;
    background: #E0E0E0; /* for older browsers */
    background: rgba(224, 224, 224, 0.95) !important;
    border: 1px solid #777777;
    padding: 0.75em;
}
.floating-footnote .close-button {
    margin-left: 0.5em;
}
