
.article-meta .subjects p {
    margin-bottom: 0;
}
.article-meta .subjects ul {
    margin: 0;
}

.openurl-control {
    border: 1px solid #BF8160 !important;
    background: #FFD6BF !important;
}
.openurl-control h4 {
    background: #BF8160 !important;
}

/* Citations */
.openurl-hover {
    background-color: #BFD5FF;
}
