
table {
    border-collapse: collapse;
}
th, td {
    vertical-align: top;
    padding: 0.25em 0.5em;
    border: 1px solid #BF8160;
}
th {
    text-align: left;
    background: #FFD6BF !important;
}
