
h2 {
    line-height: 2.75ex;
}
h2 .journal-title {
    display: block;
    font-style: italic;
}
h2 .issue {
    display: block;
}

ul.contents {
    margin: 0 16em 0 0;
    padding: 0;
}
ul.contents li {
    list-style: none;
    padding: 0.5em;
    border-top: 1px dotted #777 !important;
    border-top: none; /* this one for IE */
    border-bottom: 1px dotted #777;
}
ul.contents li + li {
    border-top: none !important;
}
ul.contents li:hover {
    background-color: #FFF5D6;
}
ul.contents li .author {
    font-size: 90%;
}
