<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-AU">

<head>
	<title>Search for $q - Miskin Hill</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="http://miskinhill.com.au/style/common.css" />
	<link rel="stylesheet" type="text/css" href="/style/searchresults.css" />
</head>

<body>

<div id="banner">
    <h1>Miskin Hill</h1>
    <ul>
        <li><a href="http://miskinhill.com.au/journals/">journals</a></li>
        <li><a href="http://miskinhill.com.au/about/">about</a></li>
        <li><a href="http://miskinhill.com.au/contact/">contact</a></li>
    </ul>
</div>

<div id="bodywrapper">

<h2>Search for $q</h2>

#foreach( $resultType in $resultTypes )

    #set( $subResults = $results.get($resultType) )
    
    #if( $subResults.size() > 0 )
        #set( $shownResults = true )
        <table class="searchresults">
        	<thead>
                <tr>
                    <th class="relevance"><span title="Relevance">%</span></th>
                    <th class="result-type">$resultType</th>
                </tr>
        	</thead>
        	<tbody>
    		#foreach( $result in $subResults )
        	    <tr>
        	        <td>
        	            <div class="relevance-container">
        	            	<img width="${result.scoreWidth(40)}"
        	            		 alt="${result.scorePercent()}"
        	            		 title="${result.scorePercent()}"
        	            		 src="/images/relevance_bg.png" />
        	            </div>
        	        </td>
        	        <td><a href="$result.url">$result.anchor</a></td>
        	    </tr>
    		#end
        	</tbody>
        </table>
    #end

#end

#if( !$shownResults )
    <p>Your search returned no results.</p>
#end

<div id="footer">
    Hosted by <a href="http://www.sjkwi.com.au/">SJK Web Industries</a>.
    Content copyright the publishers and each contributor.
    <a href="http://code.miskinhill.com.au/">Code</a> copyright Miskin Hill Academic Publishing.
    Metadata is free!
</div>

</div>

</body>
</html>
