<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-AU">

<head>
	<title>Search for $q - Miskin Hill</title>
	<link rel="stylesheet" type="text/css" href="http://miskinhill.com.au/style/common.css" />
</head>

<body>

<div id="banner">
    <h1>Miskin Hill</h1>
    <ul>
        <li><a href="http://miskinhill.com.au/journals/">journals</a></li>
        <li><a href="http://miskinhill.com.au/about/">about</a></li>
        <li><a href="http://miskinhill.com.au/contact/">contact</a></li>
    </ul>
</div>

<div id="bodywrapper">

<h2>Search for $q</h2>

<ul class="searchresults">
	#foreach( $hit in $results )
	<li><a href="$hit.url">${hit.url}</a> ($hit.score)</li>
	#end
</ul>

<div id="footer">
    Content copyright the publishers and each contributor.
    <a href="http://code.miskinhill.com.au/">Code</a> copyright Miskin Hill Academic Publishing.
    Metadata is free!
</div>

</div>

</body>
</html>
